@use './scss' as scss;

* {
    overflow: hidden;
    direction: rtl;
}

.BgElements {
    .cloud {
        position: absolute;
        top: 2%;
        left: 40%;
        width: 15%;
        opacity: 25%;
        animation: scss.$cloudAni 150s forwards infinite linear ;
    }
    .hotAirBalloon {
        position: absolute;
        top: 8%;
        left: 90%;
        width: 7%;
        opacity: 25%;
        animation: scss.$hotAirBalloonAni 50s forwards infinite linear ;
    }
    .ferrisWheel {
        position: absolute;
        bottom: 8%;
        left: 5%;
        width: 50%;
        opacity: 80%;
        animation: scss.$rotateAni 50s forwards infinite linear ;
    }

    .ferrisWheelBottom {
        position: absolute;
        bottom: 0;
        left: 20%;
        width: 20%;
        opacity: 80%;
    }
    .rollerCoaster {
        position: absolute;
        bottom: -5%;
        right: -20%;
        width: 154%;
        opacity: 25%;
    }
    .carousel {
        position: absolute;
        top: 15%;
        left: -4%;
        width: 50%;
        opacity: 20%;
    }
    .tent {
        position: absolute;
        bottom: 15%;
        left: -3%;
        width: 52%;
        opacity: 80%;
    }
}

@media only screen and (min-width: 1900px) {
    .BgElements {
        .cloud {
            width: 12%;
        }
        .hotAirBalloon {
            width: 6%;
        }
        .rollerCoaster {
            bottom: -8%;
            right: 0%;
            width: 100%;
        }
        .ferrisWheel {
            bottom: 12%;
            left: 10%;
            width: 40%;
        }
        .carousel {
            width: 43%;
        }
        .tent {
            width: 55%;
        }
    }
}